.env
24530779_bot_session_name.session
24530779session_name.session
user.session
bk_24530779session_name.session
.game.env
*.env
*.session
.game.env
.schema
25299903session_name.session.enc
24530779session_name.session.enc
.DS_Store
md/ananbot.md
__pycache__/*.*
__pycache__/config.cpython-313.pyc
__pycache__/tgone_mysql.cpython-313.pyc
__pycache__/tgone_mysql.cpython-313.pyc
